name: Deploy site

on:
  push:
    branches:
      - main
  workflow_call:

jobs:
  test:
    uses: ./.github/workflows/test.yml

  build-and-deploy:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Build
        env:
          VITE_COMMIT_DATE: ${{github.event.head_commit.timestamp}}
          VITE_COMMIT_MSG: ${{github.event.head_commit.message}}
          VITE_COMMIT_HASH: ${{github.event.after}}
        run: |
          npm ci
          npm run build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@6c2d9db40f9296374acc17b90404b6e8864128c8 # v4
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: dist # The folder the action should deploy.
