name: Deploy site

on:
  push:
    branches:
      - main
  workflow_call:

jobs:
  test:
    uses: ./.github/workflows/test.yml

  build-and-deploy:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Build
        env:
          VITE_COMMIT_DATE: ${{github.event.head_commit.timestamp}}
          VITE_COMMIT_MSG: ${{github.event.head_commit.message}}
          VITE_COMMIT_HASH: ${{github.event.after}}
        run: |
          npm ci
          npm run build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@9d877eea73427180ae43cf98e8914934fe157a1a # v4
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: dist # The folder the action should deploy.
